{% extends "base2.html" %}
{% block titulo %}Proyecto Info{% endblock %}
{% block body %}
    <div class="row justify-content-md-center m-5">
        <div class="mb-3 col-lg-6">
                {% for item in respuestas %} 
            <div class="alert alert-primary" role="alert">
                {{item}}
                <a class="btn btn-primary" href="{% url 'juegote:detalle_respuesta' item.pk %}">Detalle</a>
                <a class="btn btn-danger" href="{% url 'juegote:eliminar_respuesta' item.pk %}">Eliminar</a>
            </div>
                {% endfor %}
                
        </div>
     </div>
{% endblock %}
