{% extends "base.html" %}
{% block titulo %}Categorias{% endblock %}
{% block body %}


    <div class="row justify-content-md-center m-5">
        <h4>
            <center><div class="mb-3 col-lg-4">
                <div class="m-3 p-3 rounded border border-4">SU RESULTADO ES:
                    {{resultado}}  
                </div>
            </div></center>
        </h4>
        <div class="mb-3 col-lg-2">
                {% for key,item in data.items %} 
                <p>{{key}}</p>
                <p>{{item.0}}</p>
                <p>{{item.1}}</p>

                {% endfor %}
        </div> 
    </div>
{% endblock %}