<html>
  <head>
      <title>{% block titulO %}{% endblock %}</title>
  </head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>

        {% if request.user.username %}
          <li class="nav-item">
            <a class="nav-link" href="/logout"">Cerrar sesión</a>      <!--en href tenian # lo cual eran solo botones, lo que hice fue agregarle el link de logout que ya tenia predefinido-->
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{request.user.username}}</a>
          </li>
        
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar sesión</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/registro">Registrarse</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    {% block body %}{% endblock %} 
  </body>
</html>
